name: Build Kivy APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/upload-artifact@v4

    - name: Install system packages
      run: |
        sudo apt update
        sudo apt install -y python3-pip openjdk-17 unzip git

    - name: Install Buildozer
      run: pip install buildozer

    - name: Init Buildozer
      run: buildozer init

    - name: Edit spec
      run: |
        sed -i 's/requirements =.*/requirements = python3,kivy,plyer,requests/' buildozer.spec

    - name: Build APK
      run: buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: apk
        path: bin/*.apk
